@import url('https://fonts.googleapis.com/css2?family=Lora&family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

/*COLORES PARA SECCION
background-color: #eeeeee;
background-color: #fafafa;*/

/*  TIPOGRAFIA 
font-family: 'Play', sans-serif; ---LOGO, TITULOS Y NAVBAR---
font-family: 'Lora', serif; ---TEXTO---
*/

/* HEADER */

header {
    width: 100%;
    height: auto;
    padding: .5em;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 4;
}

.logo_nombre_navbar {
    margin: auto;
    width: 90%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_nombre {
    display: flex;
    align-items: center;
    width: 50%;
}

img {
    border-radius: 50%;
    width: 3.75em;
    height: 3.75em;
    cursor: pointer;
    background-color: #0868ac;
    border: 1px solid #2b8cbe;
    transition: all 0.3s;
}

.eslogan {
    margin: 0 .5em;
}

nav {
    width: 45%;
    max-width: 30em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin: 0 .25em;
}

/* MEDIA QUERIE HEADER */

@media (max-width: 850px) {
    .logo_nombre_navbar {
        flex-direction: column;
    }

    .logo_nombre {
        margin: auto;
        width: 90%;
        text-align: center;
        justify-content: center;
    }

    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        margin-top: .5em;
    }

    nav li {
        margin: .25em 0;
    }
}

/* TIPOGRAFIA HEADER */

h1 {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    transition: all 0.1s;
    color: #2c353e;
}

a {
    text-decoration: none;
}

.nav_nombre {
    font-family: 'Play', sans-serif;
    font-size: .95em;
    font-weight: 600;
    color: #495c65;
    transition: all 0.1s;
}

#icono-home {
    font-size: 2em;
    font-weight: 900;
    color: #495c65;
}

/* SECCION (HOME) */ 

.home {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    height: auto;
    width: 100%;
    padding: 7.5em 0;
}

.informacion_home {
    text-align: center;
    width: 80%;
    height: 90%;
    padding: 10em 5em;
}

.button {
    padding: 1em 3em;
    width: 20%;
    background-color: #4eb3d3;
    margin: 0 auto;
    cursor: pointer;
    border-radius: .5em;
    border: .15em solid #0868ac;
    transition: all 0.3s ease;
    color: #fff;
    font-weight: 600;
    font-size: 1.1em;
    
}

.button:hover {
    background-color: #0868acd8;
    border: .15em solid #4eb3d3;
}

/* MEDIA QUERIE (HOME) */

@media (max-width: 850px) {
    .home {
        margin-top: 16em;
        padding: 2em 0;
    }

    .informacion_home {
        padding: 5em 2.5em;
    }

    .div_button {
        width: 12em;
        height: 3em;
    }
}

/* TIPOGRAFIA (HOME) */

h2 {
    font-weight: 700;
    font-size: 3em;
    letter-spacing: .015em;
    color: #000;
    margin: 0 auto 1em auto;
}

.descripcion_home {
    font-size: 1.75em;
    letter-spacing: .01em;
    color: #2c353e;
    margin: 0 auto 2em auto;
}
/* SECCION O PAGINAS (SOBRE MI) */ 

.sobre_mi {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    padding: 5em 0;
}

h3 {
    margin: 1em auto;
    width: 80%;
    text-align: center;
}

.contenedor_mayor_sobre_mi {
    margin:  0 auto;
    height: auto;
    width: 85%;
    display: flex;
    justify-content: space-around;
}

.contenedor_texto {
    padding: 1em;
    width: 50%;
    height: 100%;
}

.contenedor_habilidades {
    width: 45%;
    height: 100%;
    padding: 1em 0;
}

.contenedor_cuadros_habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50%;
    width: 100%;
    padding: 2em 0;
}

.cuadros_habilidades {    
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    font-size: 2em;
    width: auto;
    border-radius: 5px;
    background: rgba(153,153,153,.2);
    color: #2c353e;
    border: 2px solid #2c353e;
    cursor: pointer;
    transition: all 0.3s;
}

/* MEDIA QUERIE (SOBRE MI) */

@media (max-width: 850px) {

    .contenedor_mayor_sobre_mi{
        width: 90%;
    }

    .contenedor_texto {
        width: 45%;
    }

    .contenedor_habilidades{
        width: 50%;
    }

    h3 {
        margin: 0 auto;
    }
}

/* TIPOGRAFIA SOBRE MI */

h3 {
    font-weight: 700;
    font-size: 2em;
    letter-spacing: .01em;
    width: 25%;
    color: #000;
}

.descripcion {
    font-size: 1.3em;
    letter-spacing: .005em;
    text-align: center;
    width: 50%;
    margin: 1em auto 0 auto;
    color: #2c353e;
}

h4 {
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: .01em;
    color: #000;
    margin: 1.5em auto;
    text-align: left;
}

.texto_conoceme {
    font-size: 1.12em;
    letter-spacing: .01em;
    text-align: left;
    line-height: 1.5em;
    color: #2c353e;
}

.texto_habilidades {
    letter-spacing: .005em;
    font-family: 'Lora', serif;
    font-size: .5em;
    text-align: center;
    font-weight: bolder;
}

/* SECCION O PAGINA (PROYECTOS)*/
.proyectos {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    padding: 5em 0;
}

/* SECCION O PAGINA (CONTACTO) */

.contacto {
        background-color: #eeeeee;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        padding: 5em 0;
}

form {
    margin: 3em auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: auto;
    border: .2em solid #2c353e;
    background-color: #fafafa;
    border-radius: 1%;
}

label {
    margin: 1em 0;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .01em;
    color: #000;
}

input {
    height: 3em;
    width: 100%;
    padding: 0 2em;
    font-family: 'Lora', serif;
    font-size: 1em;
    letter-spacing: .01em;
    color: #2c353e;
    background-color: #eeeeee;
    border: none;
    margin-bottom: 2em;
}

.mensaje {
    height: 15em;
    width: 100%;
    padding: 1em 2em;
    font-family: 'Lora', serif;
    font-size: 1.05em;
    letter-spacing: .01em;
    color: #2c353e;
    background-color: #eeeeee;
    border: none;
    margin-bottom: 2em;
    resize: none;
}

/* SECCION (FOOTER) */

footer {
    background-color: #1a242f;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 3em;
    margin: auto;
}

hr {
    width: 50%;
    margin: auto;
}

.titulo-footer {
    text-align: center;
    color: #fff;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: .01em;
}

.descripcion-footer {
    text-align: center;
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 1em;
    letter-spacing: .01em;
    margin-bottom: 4em;
}

.copyright-footer {
    margin-top: 4em;
    text-align: center;
    color: #fff;
    font-family: 'Lora', serif;
    font-size: .75em;
    letter-spacing: .01em;
}

.enlace-footer {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

#icono-footer {
    font-size: 1em;
    font-weight: 900;
    margin-right: .3em;
}

/* HOVER */

.logo:hover {
    background-color: #2b8cbe;
    transform: scale(1.2);
    border: .1em solid #0868ac;
}

h1:hover, li:hover, .nav_nombre:hover, #icono-home:hover {
    color: #4eb3d3;
    cursor: pointer;
    transform: scale(1.02);
}

.cuadros_habilidades:hover, .submit:hover{
    transform: scale(1.05);
}






